#entries-scroller {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#entries.accordion {
    margin: 0;
    padding: 20px;
}

@media (min-width: 840px) {
    #entries.accordion {
        width: 800px;
        margin: 0 auto;
        padding: 20px 0;
    }
}

#entries .accordion-heading {
    background-color: #e5e5e5;
}

#entries .new .accordion-heading #entry-title {
    font-weight: bold;
}

#entries .accordion-toggle {
    position: relative;
    padding: 0;
    margin: 0;
}

#entries .accordion-toggle > a,
#entries .accordion-toggle > span,
#entries .accordion-toggle > div {
    display: block;
    padding: 4px 0;
}

#entries .accordion-toggle > a {
    width: 20px;
    text-align: center;
    vertical-align: middle;
}

#entries .accordion-toggle > a:first-child {
    padding-left: 4px;
}

#entries .accordion-toggle > a:last-child {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 4px;
}

#entries .accordion-toggle > span {
    position: absolute;
    top: 0;
    right: 24px;
}

#entries .accordion-toggle > span > span {
    background: #e5e5e5;
    padding-left: 4px;
}

#entries .accordion-toggle > span > span:first-child {
    background-color: transparent;
    /*background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);*/
    background-image: linear-gradient(to right, rgba(229, 229, 229, 0), #e5e5e5);
    padding-left: 20px;
}

#entries .accordion-toggle > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-left: 26px;
    margin-right: 26px;
}

#entries .accordion-toggle > div > span {
    white-space: nowrap;
}

#entries .accordion-body {
    display: none;
    position: relative;
    overflow: auto;
}

#entries .open .accordion-body {
    display: block;
}

#entries .accordion-group.active {
    border-color: #33b5e5;
}

#entries .accordion-group.active .accordion-toggle {
    background-color: #33b5e5;
}

#entries .accordion-group.active .accordion-toggle > span > span {
    background-color: #33b5e5;
}

#entries .accordion-group.active .accordion-toggle > span > span:first-child {
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(51, 181, 229, 0), #33b5e5);
}
