.ActionBar {
   height: 3rem;
   border-bottom: 1px solid var(--primary-color-3);
   padding-right: 12px;

   >.bar {
      margin: 0 auto;
      max-width: 50rem;
      line-height: 3rem;
      display: flex;

      >.title {
         flex-grow: 1;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }

      >.count {
         font-weight: bold;
         margin: 0 .5rem;
      }

      >.action {
         flex-shrink: 0;
         position: relative;
         width: 3rem;
         background: none;
         border: none;
         margin: 0;
         padding: 0;
         cursor: pointer;

         &:focus {
            outline: none;

            &::before {
               outline: thin dotted !important;
            }
         }

         &::before,
         &::after {
            content: '';
            display: block;
            position: absolute;
            top: .5rem;
            left: .5rem;
            width: 2rem;
            height: 2rem;
         }

         &::before {
            border-radius: .5rem;
         }

         &::after {
            background-color: var(--primary-color-6);
            mask-size: 1.5rem;
            mask-repeat: no-repeat;
            mask-position: center;
         }

         &:hover {
            &::before {
               background-color: var(--primary-color-1);
            }
         }

         &:active {
            &::before {
               background-color: var(--primary-color-2);
            }
         }

         &.active::after {
            background-color: var(--secondary-color-5);
         }

         &:disabled {
            opacity: .5;
            cursor: default;

            &:hover {
               &::before {
                  background: none;
               }
            }
         }

         &.arrow-back::after {
            mask-image: url("@material-design-icons/svg/outlined/arrow_back.svg");
         }

         &.arrow-downward::after {
            mask-image: url("@material-design-icons/svg/outlined/arrow_downward.svg");
         }

         &.arrow-forward::after {
            mask-image: url("@material-design-icons/svg/outlined/arrow_forward.svg");
         }

         &.arrow-upward::after {
            mask-image: url("@material-design-icons/svg/outlined/arrow_upward.svg");
         }

         &.calendar::after {
            mask-image: url("../icons/action/calendar.svg");
         }

         &.calendar-day::after {
            mask-image: url("../icons/action/calendar_day.svg");
         }

         &.calendar-week::after {
            mask-image: url("../icons/action/calendar_week.svg");
         }

         &.close::after {
            mask-image: url("@material-design-icons/svg/outlined/close.svg");
         }

         &.entry-done::after {
            mask-image: url("../icons/action/entry_done.svg");
         }

         &.entry-new::after {
            mask-image: url("../icons/action/entry_new.svg");
         }

         &.entry-pinned::after {
            mask-image: url("../icons/action/entry_pinned.svg");
         }

         &.menu::after {
            mask-image: url("@material-design-icons/svg/outlined/menu.svg");
         }

         &.refresh::after {
            mask-image: url("@material-design-icons/svg/outlined/refresh.svg");
         }

         &.sort-down::after {
            mask-image: url("../icons/action/sort_down.svg");
         }

         &.sort-up::after {
            mask-image: url("../icons/action/sort_up.svg");
         }

         &.star-off::after {
            mask-image: url("@material-design-icons/svg/outlined/star_border.svg");
         }

         &.star-on::after {
            mask-image: url("@material-design-icons/svg/outlined/star.svg");
         }
      }
   }
}
