@import "./utils.scss";

.EntryViewer {
   top: 100%;
   opacity: 0;
   transition:
      top .25s linear,
      opacity .25s linear;

   &.active {
      top: 0%;
      opacity: 1;
   }

   background-color: white;

   > .body > .entry {
      position: absolute;
      width: 100%;
      height: 100%;

      overflow: hidden scroll;
      @include custom-scrollbar($gray-500, $gray-200);

      > .content {
         max-width: 50rem;
         min-height: calc(100vh - 5.5rem);
         margin: 0 auto;
         padding: 1rem 0 5rem 0;
         box-sizing: border-box;
         line-height: 1.5;

         > div {
            padding: 1rem;
            border-bottom: 1px solid $orange-500;

            &:last-child {
               border-bottom: none;
            }
         }

         > .header {
            > .source {
               > .author {
                  color: $text-secondary;

                  &::before {
                     content: ' :: ';
                  }
               }
            }
         }

         p {
            margin: 1em 0 0;
         }

         img {
            max-width: 100%;
            height: auto;
         }

         a {
            color: $text-primary;
            text-decoration: inherit;
         }
      }

      > .entry-toolbar {
         position: sticky;
         bottom: 5rem;
         left: 0;
         right: 0;
         height: 2.5rem;

         display: flex;
         flex-direction: row;
         justify-content: space-between;

         button {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $gray-100;
            border: 1px solid $gray-200;
            box-sizing: border-box;

            &::after {
               content: '';
               display: block;
               width: 2rem;
               height: 2rem;
               background-color: $gray-500;
               mask-position: center;
               mask-repeat: no-repeat;
            }

            &:hover {
               background-color: $gray-200;
            }

            &:active {
               background-color: $gray-300;
            }
         }

         > button.prev {
            border-radius: 0 1rem 1rem 0;
            border-left: none;
            padding: 0 .75rem 0 .5rem;

            &::after {
               mask-image: url("../../node_modules/material-design-icons/navigation/svg/production/ic_arrow_back_24px.svg");
            }
         }

         > button.next {
            border-radius: 1rem 0 0 1rem;
            border-right: none;
            padding: 0 .5rem 0 .75rem;

            &::after {
               mask-image: url("../../node_modules/material-design-icons/navigation/svg/production/ic_arrow_forward_24px.svg");
            }
         }
      }
   }
}
