@import "./utils.scss";

$shadow-size: 1rem;

.EntryViewer {
   display: flex;
   flex-direction: column;
   top: calc(100% + #{$shadow-size});
   box-shadow: 0 0 $shadow-size var(--primary-color-3);
   transition: top .25s ease-in-out;

   &.active {
      top: 0;
   }

   background-color: var(--background);

   > .header {
      background-color: var(--background);
      z-index: 1;
   }

   > .body {
      position: relative;
      width: 100%;
      height: 100%;

       > .entry {
         position: absolute;
         width: 100%;
         height: 100%;
         background-color: var(--background);
         box-shadow: 0 0 $shadow-size var(--primary-color-3);

         overflow: hidden scroll;
         @include custom-scrollbar(var(--primary-color-5), var(--primary-color-2));

         > .content {
            max-width: 50rem;
            min-height: 100%;
            margin: 0 auto;
            padding: 1rem 0 5rem 0;
            box-sizing: border-box;
            line-height: 1.5;

            > div {
               padding: 1rem;
               border-bottom: 1px solid var(--secondary-color-5);

               &:last-child {
                  border-bottom: none;
               }
            }

            > .header {
               > .source {
                  > .author {
                     color: var(--primary-color-5);

                     &::before {
                        content: ' :: ';
                     }
                  }
               }
            }

            p {
               margin: 1em 0 0;
            }

            img,
            video {
               max-width: 100%;
               height: auto;
            }

            a {
               color: var(--secondary-color-5);
               text-decoration: inherit;
            }

            blockquote {
               position: relative;
               background: var(--secondary-color-1);
               margin: 1rem 0 0;
               padding: 1rem 1rem 1rem 2.25rem;
               border-left: .25rem solid var(--secondary-color-5);

               &::before {
                  content: 'â€';
                  position: absolute;
                  left: .5rem;
                  top: -2rem;
                  color: var(--secondary-color-5);
                  font-size: 4rem;
               }
            }
         }
      }
   }
}

.click-mode .EntryViewer > .body > .entry {
   top: 0;
   transition: top .25s ease-in-out;

   &.next-1,
   &.next-2 {
      top: calc(100% + #{$shadow-size});
   }
}

.touch-mode .EntryViewer > .body > .entry {
   left: 0;
   transition: left .25s ease-in-out;

   &.next-1,
   &.next-2 {
      left: calc(100% + #{$shadow-size});
   }
}
