@import "./utils.scss";

.EntryList {
   display: flex;
   flex-direction: column;

   > .body {
      flex-grow: 1;

      overflow: hidden scroll;
      @include custom-scrollbar($gray-500, $gray-200);

      > .entry {
         margin: 0 auto;
         max-width: 50rem;

         border-bottom: 1px solid $gray-200;

         --background-color: white;
         --summary-color: #{$text-secondary};
         --summary-height: 2rem;
         --unread-color: #{$text-body};

         &:first-child {
            margin-top: 1rem;
         }

         &:last-child {
            margin-bottom: 1rem;
            border-bottom: none;
         }

         > .summary {
            display: flex;
            line-height: var(--summary-height);
            min-height: var(--summary-height);
            background-color: var(--background-color);
            color: var(--summary-color);
            cursor: pointer;

            &:hover {
               --background-color: #{$gray-100};
            }

            > a.favicon {
               flex-shrink: 0;
               display: flex;
               align-items: center;
               justify-content: center;
               width: 3rem;
               height: var(--summary-height);

               > .image {
                  display: block;
                  width: 2rem;
                  height: var(--summary-height);
                  background: transparent center no-repeat;
                  background-size: 1rem;

                  $colors: $red $pink $purple $indigo $blue $cyan $teal $green $yellow $orange;
                  @each $color in $colors {
                     &.rss-icon-#{index($colors, $color)}::after {
                        content: '';
                        display: block;
                        height: var(--summary-height);
                        background-color: $color;
                        mask: url('../icons/favicon/rss.svg') center no-repeat;
                        mask-size: 1rem;
                     }
                  }
               }

               &:focus {
                  outline: none;

                  > .image {
                     outline: thin dotted;
                  }
               }

               &:hover {
                  > .image {
                     background-color: $gray-200;
                  }
               }

               &:active {
                  > .image {
                     background-color: $gray-300;
                  }
               }
            }

            > .title {
               flex-grow: 1;
               overflow: hidden;
               white-space: nowrap;
               position: relative;

               &::before {
                  content: '';
                  display: block;
                  position: absolute;
                  right: 0;
                  width: 3rem;
                  height: var(--summary-height);
                  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--background-color));
               }
            }

            > .date {
               flex-shrink: 0;
               white-space: nowrap;
               padding: 0 0 0 .5rem;
            }

            > button.state {
               flex-shrink: 0;
               position: relative;
               display: flex;
               align-items: center;
               justify-content: center;
               width: 3rem;
               height: var(--summary-height);
               background: none;
               border: none;
               padding: 0;

               &::after {
                  content: '';
                  width: 2rem;
                  height: var(--summary-height);
                  background-color: var(--summary-color);
                  mask-position: center;
                  mask-repeat: no-repeat;
                  mask-size: 1.5rem;
                  mask-image: url('../icons/action/entry_new.svg');
               }

               &.done {
                  &::after {
                     mask-image: url('../icons/action/entry_done.svg');
                  }
               }

               &.pinned {
                  &::after {
                     mask-image: url('../icons/action/entry_pinned.svg');
                  }
               }

               &:focus {
                  outline: none;

                  &::before {
                     content: '';
                     display: block;
                     position: absolute;
                     width: 2rem;
                     height: var(--summary-height);
                     outline: thin dotted;
                  }
               }

               &:hover {
                  &::before {
                     content: '';
                     display: block;
                     position: absolute;
                     width: 2rem;
                     height: var(--summary-height);
                     background-color: $gray-200;
                  }
               }

               &:active {
                  &::before {
                     background-color: $gray-300;
                  }
               }
            }
         }

         &.unread {
            > .summary {
               > .title {
                  color: var(--unread-color);
               }
            }
         }

         &.active {
            --background-color: #{$orange-100};
            --summary-color: #{$orange-200};
            --unread-color: #{$orange-500};
         }

         @media (hover: none) and (pointer: coarse) {
            --summary-height: 3rem;
         }
      }

      > .loading.entry {
         > .summary {
            cursor: unset;

            &:hover {
               background: none;
            }

            > .title {
               text-align: center;
            }
         }
      }

   }
}
