@import "./utils.scss";

.Reader > .container > .EntryList {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;

   overflow: hidden scroll;
   @include custom-scrollbar($gray-500, $gray-200);

   > div {
      margin: 0 auto;
      max-width: 50rem;

      > .entry {
         border-bottom: 1px solid $gray-200;

         &:first-child {
            margin-top: 1rem;
         }

         &:last-child {
            margin-bottom: 1rem;
            border-bottom: none;
         }

         > .summary {
            display: flex;
            line-height: 2rem;
            min-height: 2rem;
            color: $text-secondary;
            cursor: pointer;

            &:hover {
               background-color: $gray-100;
            }
            
            > a.favicon {
               flex-shrink: 0;
               display: flex;
               align-items: center;
               justify-content: center;
               width: 3rem;
               height: 2rem;

               > .image {
                  display: block;
                  width: 2rem;
                  height: 2rem;
                  background: transparent center no-repeat;
                  background-size: 1rem;
               }

               &:hover {
                  > .image {
                     background-color: $gray-200;
                  }
               }
            }

            > .title {
               flex-grow: 1;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
            }

            > .date {
               flex-shrink: 0;
               white-space: nowrap;
               padding: 0 1rem;
            }
         }

         &.unread {
            > .summary {
               > .title {
                  color: $text-body;
               }
            }
         }

         &.active {
            background-color: $orange-100;

            > .summary {
               color: $orange-300;

               > .title {
                  color: $orange-500;
               }
            }
         }
      }
   }
}
