.Reader > .side-nav > .FeedList {
   transform: scaleX(-1);

   padding: 1rem 0;

   > a.feed {
      --feed-line-height: 2rem;

      display: flex;
      padding: 0 1rem;
      color: var(--primary-color-6);
      text-decoration: none;
      font-weight: normal;
      line-height: var(--feed-line-height);

      > .title {
         flex-grow: 1;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }

      > .count {
         padding-left: 1rem;
         color: var(--primary-color-5);
      }

      &.active {
         color: var(--secondary-color-5);
         background-color: var(--secondary-color-1);

         > .count {
            color: var(--secondary-color-3);
         }
      }

      &:hover {
         background-color: var(--primary-color-2);
      }

      &.hidden {
         display: none;
      }
   }

   > hr {
      border: none;
      border-top: 1px solid var(--primary-color-3);
   }

   @media (hover: none) and (pointer: coarse) {
      padding: 0;

      > a.feed {
         --feed-line-height: 3rem;
      }
   }
}
