@import "../colors.scss";

.Reader > .side-nav > .FeedList {
   transform: scaleX(-1);

   padding: 1rem 0;

   > a.feed {
      --line-height: 2rem;

      display: flex;
      padding: 0 1rem;
      color: $gray-600;
      text-decoration: none;
      font-weight: normal;
      line-height: var(--line-height);

      > .title {
         flex-grow: 1;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }

      > .count {
         padding-left: 1rem;
         color: $gray-500;
      }

      &.active {
         color: $orange-500;
         background-color: $orange-100;

         > .count {
            color: $orange-300;
         }
      }

      &:hover {
         background-color: $gray-200;
      }

      &.hidden {
         display: none;
      }
   }

   > hr {
      border: none;
      border-top: 1px solid $gray-400;
   }

   @media (hover: none) and (pointer: coarse) {
      padding: 0;

      > a.feed {
         --line-height: 3rem;
      }
   }
}
