@import "./utils.scss";

.Reader {
   display: flex;
   height: 100vh;
   -webkit-tap-highlight-color: transparent;

   @media screen and (max-width: 70rem) {
      overflow: hidden;

      > .side-nav {
         position: absolute;
         top: 0;
         height: 100vh;
         left: -20rem;
         z-index: 1;
         transition: left .25s linear;
      }

      > .side-nav-toggler {
         position: absolute;
         z-index: 1;
         top: 1rem;
         left: 0;
         transition: left .25s linear;

         padding: .5rem .75rem .5rem .5rem;
         background-color: $gray-200;
         border-radius: 0 1rem 1rem 0;
         border: 1px solid $gray-500;
         border-left: none;
         box-sizing: border-box;
         cursor: pointer;

         &::after {
            content: '';
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            mask-image: url('../icons/menu.svg');
            mask-size: 1.5rem;
            background-color: $gray-600 !important;
         }

         &:hover {
            background-color: $gray-300;
         }
      }

      > .container {
         width: 100vw;
         transition: transform .25s linear;

         &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            background-color: transparent;
            transition: background-color .25s linear;
         }

         > .feed-view {
            padding: 4rem 0 2rem 0;
         }
      }

      &.show-side-nav {
         > .side-nav {
            left: 0;
         }

         > .side-nav-toggler {
            left: 20rem;

            &::after {
               mask-image: url('../icons/close.svg');
            }
         }
   
         > .container {
            transform: translateX(20rem);
            pointer-events: none;

            &::after {
               background-color: rgba(white, .75);
            }
         }
      }
   }

   @media screen and (min-width: 70rem) {
      > .side-nav {
         flex-shrink: 0;
      }
      
      > .side-nav-toggler {
         display: none;
      }

      > .container {
         flex-grow: 1;
      }
   }

   > .side-nav {
      transform: scaleX(-1);
      width: 20rem;

      overflow: hidden auto;
      @include custom-scrollbar($gray-500, $gray-200);

      background-color: $gray-100;
      border-left: 1px solid $gray-400;
      box-sizing: border-box;
   }

   > .container {
      position: relative;
   }
}
