$black: black;

$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;

$orange: #F26522;
$orange-100: #fffaf6;
$orange-200: #fbd1bd;
$orange-300: #f8ac89;
$orange-400: #f58855;
$orange-500: #f26321;
$orange-600: #d04a0c;
$orange-700: #9c3809;
$orange-800: #682506;
$orange-900: #341303;

$text-body: $gray-900;
$text-primary: $orange-500;
$text-secondary: $gray-500;
