@import "normalize.css";

:root {
   --background: hsl(200, 15%, 95%);

   --primary-color-1: hsl(200, 15%, 92%);
   --primary-color-2: hsl(200, 15%, 88%);
   --primary-color-3: hsl(200, 15%, 82%);
   --primary-color-4: hsl(200, 15%, 75%);
   --primary-color-5: hsl(200, 15%, 65%);
   --primary-color-6: hsl(200, 15%, 50%);
   --primary-color-7: hsl(200, 15%, 40%);
   --primary-color-8: hsl(200, 15%, 30%);
   --primary-color-9: hsl(200, 15%, 20%);

   --secondary-color-1: hsl(15, 15%, 94%);
   --secondary-color-2: hsl(15, 30%, 80%);
   --secondary-color-3: hsl(15, 30%, 70%);
   --secondary-color-4: hsl(15, 60%, 60%);
   --secondary-color-5: hsl(15, 90%, 40%);
   --secondary-color-6: hsl(15, 90%, 35%);
   --secondary-color-7: hsl(15, 90%, 30%);
   --secondary-color-8: hsl(15, 90%, 25%);
   --secondary-color-9: hsl(15, 90%, 20%);

   --red: #d92637;
   --pink: #d42b7f;
   --purple: #6d3fc0;
   --indigo: #640df2;
   --blue: #0267fd;
   --cyan: #0dccf2;
   --teal: #23dca5;
   --green: #28d786;
   --yellow: #ffbf00;
   --orange: #f1560e;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: hsl(200, 15%, 10%);

      --primary-color-1: hsl(200, 15%, 15%);
      --primary-color-2: hsl(200, 15%, 20%);
      --primary-color-3: hsl(200, 15%, 30%);
      --primary-color-4: hsl(200, 15%, 40%);
      --primary-color-5: hsl(200, 15%, 50%);
      --primary-color-6: hsl(200, 15%, 60%);
      --primary-color-7: hsl(200, 15%, 70%);
      --primary-color-8: hsl(200, 15%, 75%);
      --primary-color-9: hsl(200, 15%, 80%);

      --secondary-color-1:  hsl(20, 05%, 15%);
      --secondary-color-2:  hsl(20, 50%, 20%);
      --secondary-color-3:  hsl(20, 50%, 30%);
      --secondary-color-4:  hsl(20, 50%, 40%);
      --secondary-color-5:  hsl(20, 50%, 50%);
      --secondary-color-6:  hsl(20, 50%, 60%);
      --secondary-color-7:  hsl(20, 50%, 70%);
      --secondary-color-8:  hsl(20, 50%, 75%);
      --secondary-color-9:  hsl(20, 50%, 80%);
      }
}

body {
   font-family: sans-serif;
   background-color: var(--background);
   color: var(--primary-color-9);
   overscroll-behavior: contain;
}

a:focus,
button:focus {
   outline: thin dotted;
}
