@import "./colors.scss";

@mixin custom-scrollbar($thumb-color, $track-color) {
   scrollbar-color: $thumb-color $track-color;
   scrollbar-width: 12px;
   &::-webkit-scrollbar {
      width: 12px;
   }
   &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      background-color: $thumb-color;
      border-radius: 12px;
      border: 3px solid $track-color;
      &:hover {
         background-color: darken($thumb-color, 10%);
      }
   }
   &::-webkit-scrollbar-track {
      background-color: $track-color;
   }
}

.Reader {
   display: flex;
   height: 100vh;

   > .feeds {
      flex-shrink: 0;
      width: 20rem;

      overflow: hidden auto;
      @include custom-scrollbar($gray-500, $gray-200);

      background-color: $gray-100;
      padding: 1rem 0;
      border-right: 1px solid $gray-300;

      > a.feed {
         display: flex;
         padding: 0 1rem;
         color: $text-secondary;
         text-decoration: none;
         font-weight: normal;
         line-height: 2rem;

         &.active {
            color: $gray-600;
            background-color: $gray-200;
         }

         &:hover {
            color: $text-body;
         }

         &.hidden {
            // display: none;
         }

         > .title {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }

         > .count {
            padding-left: 1rem;
            font-weight: bold;
         }
      }

      > hr {
         border: none;
         border-top: 1px solid $gray-200;
      }
   }

   > .content {
      flex-grow: 1;

      overflow: hidden scroll;
      @include custom-scrollbar($gray-500, $gray-200);

      > .entries {
         margin: 0 auto;
         max-width: 56rem;

         > .entry {
            display: flex;
            line-height: 2rem;
            min-height: 2rem;
            border-bottom: 1px solid $gray-200;
            color: $text-secondary;
            cursor: pointer;

            &:first-child {
               margin-top: 1rem;
            }

            &:last-child {
               margin-bottom: 1rem;
               border-bottom: none;
            }

            &:hover {
               background-color: $gray-100;
            }

            > a.favicon {
               flex-shrink: 0;
               width: 3rem;
               height: 2rem;
               background: transparent center no-repeat;
               background-size: 1rem;

               &:hover {
                  filter: grayscale(75%) opacity(.75);
               }
            }

            > .title {
               flex-grow: 1;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
            }

            > .date {
               flex-shrink: 0;
               white-space: nowrap;
               padding: 0 1rem;
               color: $text-secondary;
            }

            &.unread {
               > .title {
                  color: $text-body;
               }
            }
         }
      }
   }
}
