*.py[cod]

/.env
/config.json

# local database
/aggregator.db

# dumps
/dumps/*.json

# docker-compose
/docker-compose.override.yaml

# virtualenv
/.venv
/.virtualenv

# pycharm files
/.idea

# system files
.DS_Store
*.swp
