feedparser==6.0.10
flask==2.2.3
flask-graphql==2.0.1
flask-sqlalchemy==3.0.3
graphene==2.1.9
graphene-sqlalchemy==2.3.0
gunicorn==20.1.0
lxml==4.9.2
opml==0.5
psycopg2-binary==2.9.5
python-dotenv==1.0.0
requests==2.28.2
sqlalchemy==1.4.46
