body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333333;

    overflow-y: scroll;
}

blockquote {
    background: #e3f5fb;
    border-left: 0.25em solid #33b5e5;
    margin: 1em 0 0;
    padding: 1em 1em 1em 2.25em;
    position: relative;
}

blockquote:before {
    color: #33b5e5;
    content: '\e244';
    font-family: 'Material Icons';
    font-size: 2em;
    left: 0;
    position: absolute;
    top: -0.5em;
}

figure {
    background: #e3f5fb;
    margin: 1em 0 0;
    padding: 0.5em;
    text-align: center;
}

figcaption {
    text-align: initial;
}

@media (max-width: 1199px) {

    .desktop #feeds-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 20px;
        bottom: 0;
        z-index: 1;
    }

    .desktop #feeds {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 1px 0 4px #999;
        position: absolute;
        left: -400px;
        top: 0;
        width: 320px;
        bottom: 0;
        padding: 20px;
        transition: left 0.2s ease-in-out;
        overflow: auto;
    }

    .desktop #feeds-container:hover > #feeds {
        left: 0;
    }

}

@media (min-width: 1200px) {

    .desktop #feeds-container {
        position: fixed;
        left: 0;
        top: 0;
        width: auto;
        right: 50%;
        bottom: 0;
        z-index: 0;
    }

    .desktop #feeds {
        position: absolute;
        left: 0;
        top: 0;
        right: 404px;
        bottom: 0;
        padding: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .desktop #feeds:hover {
        opacity: 1;
    }

}

.desktop #feeds > .feed,
.desktop #feeds > .feed > a,
.desktop #feeds > .feed div {
    display: inline-block;
}

.desktop #feeds > .feed {
    position: relative;
    margin-bottom: 2px;
    margin-right: 4px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

.desktop #feeds > .feed > a {
    color: #333333;
    text-decoration: none;
    background-color: #e5e5e5;
    border-radius: 15px;
    padding: 0 15px;
}

.desktop #feeds > .feed > a > #count-wrapper > #fadeout {
    display: none;
}

.desktop #feeds > .feed > a > #count-wrapper > #count {
    color: #33b5e5;
    margin-left: 4px;
}

.desktop #feeds > .feed:hover > a {
    background-color: #f5f5f5;
}

.desktop #feeds > .feed.active > a {
    background-color: #33b5e5;
}

.desktop #feeds > .feed.active > a > #count-wrapper > #count {
    color: white;
}

.desktop #feeds > #starred.feed {
    margin-bottom: 20px;
}

.desktop #feeds > .feed#all,
.desktop #feeds > .feed#starred {
    display: block;
}

.mobile #feeds-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    z-index: 1;
    background-color: #333333;

    line-height: 30px;
}

.mobile #feeds > .feed {
    display: none;
}

.mobile #feeds > .feed.active {
    display: block;
    text-align: center;
}

.mobile #feeds > .feed.active > a {
    display: block;
    color: white;
    text-decoration: none;
}

.mobile #feeds > .feed.active > a > div {
    display: inline-block;
}

.mobile #feeds > .feed.active > a > #count-wrapper > #count:before {
    content: ' - ';
}

.desktop #entries {
    margin: 0;
    padding: 20px;
}

@media (min-width: 840px) {
    .desktop #entries {
        width: 800px;
        margin: 0 auto;
        padding: 20px 0;
    }
}

#entries > .entry {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1px;
}

.mobile #entries > .entry {
    border-radius: 0;
}

#entries > .entry:last-child {
    margin-bottom: 0;
}

.mobile #entries > .entry:last-child {
    margin-bottom: 30px;
}

#entries > .entry > #header {
    position: relative;
    height: 2em;
    line-height: 2em;
}

.mobile #entries > .entry > #header {
    height: 3em;
    line-height: 3em;
}

#entries > .entry > #header > #title-wrapper,
#entries > .entry > #header > #toggle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

#entries > .entry > #header > #title-wrapper {
    overflow: hidden;
    padding: 0 3em;
}

#entries > .entry > #header > #title-wrapper > #title {
    white-space: nowrap;
}

#entries > .entry.unread > #header > #title-wrapper > #title {
    font-weight: bold;
}

#entries > .entry > #header > #date-wrapper {
    display: table;
    position: absolute;
    top: 0;
    right: 3em;
    bottom: 0;
    white-space: nowrap;
}

#entries > .entry > #header > #date-wrapper > #fadeout {
    display: table-cell;
    width: 3em;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

#entries > .entry > #header > #date-wrapper > #date {
    display: table-cell;
    padding: 0;
    background-color: white;
}

#entries > .entry > #header > #favicon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3em;
    background: transparent center no-repeat;
    background-size: 16px;
}

#entries > .entry > #header > #star {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3em;
    background: white;
    text-align: center;
    cursor: pointer;
}

#entries > .entry > #header > #star:after {
    content: '\2606';
}

#entries > .entry.open {
    border: 1px solid #e5e5e5;
}

#entries > .entry.open.active {
    border-color: #33b5e5;
}


#entries > .entry.active > #header,
#entries > .entry.active > #header > #star,
#entries > .entry.active > #header > #date-wrapper > #date {
    background-color: #33b5e5;
}

#entries > .entry.active > #header > #date-wrapper > #fadeout {
    background-image: linear-gradient(to right, rgba(51, 181, 229, 0), #33b5e5);
}

.desktop #entries > .entry:hover > #header,
.desktop #entries > .entry:hover > #header > #date-wrapper > #date,
.desktop #entries > .entry:hover > #header > #star {
    background-color: #f5f5f5;
}

.desktop #entries > .entry.active:hover > #header,
.desktop #entries > .entry.active:hover > #header > #star,
.desktop #entries > .entry.active:hover > #header > #date-wrapper > #date {
    background-color: #0099cc;
}

.desktop #entries > .entry.active:hover > #header > #date-wrapper > #fadeout {
    background-image: linear-gradient(to right, rgba(51, 181, 229, 0), #0099cc);
}

.desktop #entries > .entry:hover > #header > #date-wrapper > #fadeout {
    background-image: linear-gradient(to right, rgba(245, 245, 245, 0), #f5f5f5);
}

#entries > .entry.starred > #header > #star:after {
    content: '\2605';
}

#entries > .entry > #body {
    position: relative;
    display: none;
    padding: 1.5em 1em 1em 1em;
}

.mobile #entries > .entry > #body {
    padding-top: 2em;
}

#entries > .entry.open > #header {
    display: none;
}

#entries > .entry.open > #body {
    display: block;
}

#entries > .entry > #body > #content {
    overflow: auto;
}

#entries > .entry > #body > #content > #content-header {
    margin-bottom: 1em;
}

#entries > .entry > #body > #content > #content-header > #actions {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#entries > .entry > #body > #content > #content-header > #actions:before {
    content: ' ';
    display: inline-block;
    float: left;
    width: 2em;
    height: 0;
    background-color: transparent;
    padding: 0;
    margin: 1px 1px 0 0;
    border-width: 1.5em 0 0 1.5em;
    border-style: solid;
    border-color: #33b5e5 transparent;
    cursor: default;
}

.mobile #entries > .entry > #body > #content > #content-header > #actions:before {
    border-width: 2em 0 0 2em;
}

#entries > .entry > #body > #content > #content-header > #actions > a {
    background-color: #33b5e5;
    color: white;
    line-height: 1.5em;
    padding: 0 1em;
    margin: 1px 1px 0 0;
    float: left;
}

.mobile #entries > .entry > #body > #content > #content-header > #actions > a {
    line-height: 2em;
}

#entries > .entry.unread > #body > #content > #content-header > #actions > a#toggle-read {
    background-color: #0099cc;
}

#entries > .entry.blissed > #body > #content > #content-header > #actions > a#bliss {
    background-color: #0099cc;
}

#entries > .entry > #body > #content > #content-header h1 {
    margin: 1em 0 0 0;
}

#entries > .entry > #body > #content > #content-header div {
    line-height: 1em;
}

#entries > .entry > #body > #content > #content-header div * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#entries > .entry > #body > #content > #content-header #star {
    cursor: pointer;
}

#entries > .entry > #body > #content > #content-header #star:after {
    content: '\2606';
}

#entries > .entry.starred > #body > #content > #content-header #star:after {
    content: '\2605';
}

#entries > .entry > #body p {
    margin: 1em 0 0;
}

#entries > .entry > #body img {
    max-width: 100%;
    height: auto;
}

#entries > .entry > #body a {
    color: #0099cc;
    text-decoration: inherit;
}
