body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;

    overflow-y: scroll;
}

@media (max-width: 1199px) {

    .desktop #feeds-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 20px;
        bottom: 0;
        z-index: 1;
    }

    .desktop #feeds {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 1px 0 4px #999;
        position: absolute;
        left: -400px;
        top: 0;
        width: 320px;
        bottom: 0;
        padding: 20px;
        transition: left 0.2s ease-in-out;
        overflow: auto;
    }

    .desktop #feeds-container:hover > #feeds {
        left: 0;
    }

}

@media (min-width: 1200px) {

    .desktop #feeds-container {
        position: fixed;
        left: 0;
        top: 0;
        width: auto;
        right: 50%;
        bottom: 0;
        z-index: 0;
    }

    .desktop #feeds {
        position: absolute;
        left: 0;
        top: 0;
        right: 404px;
        bottom: 0;
        padding: 20px;
        overflow: auto;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .desktop #feeds:hover {
        opacity: 1;
    }

}

#feeds > .feed {
    display: inline-block;
    position: relative;
    margin-bottom: 2px;
    margin-right: 4px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    cursor: pointer;
    background-color: #e5e5e5;
    border-radius: 15px;
    padding: 0 15px;
}

#feeds > a.feed {
    color: #333333;
    text-decoration: none;
}

#feeds > .feed div {
    display: inline-block;
}

#feeds > .feed > #count-wrapper > #fadeout {
    display: none;
}

#feeds > .feed > #count-wrapper > #count {
    color: #33b5e5;
    margin-left: 4px;
}

#feeds > .feed.active > #count-wrapper > #count {
    color: white;
}

#feeds > .feed:hover {
    background-color: #f5f5f5;
}

#feeds > .feed.active {
    background-color: #33b5e5;
}

#feeds > #starred.feed {
    margin-bottom: 20px;
}

.mobile #feeds-container {
    display: none;
}

.desktop #entries {
    margin: 0;
    padding: 20px;
}

@media (min-width: 840px) {
    .desktop #entries {
        width: 800px;
        margin: 0 auto;
        padding: 20px 0;
    }
}

#entries > #loader,
#entries > .entry {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1px;
}

.mobile #entries > #loader,
.mobile #entries > .entry {
    border-radius: 0;
}

#entries > #loader {
    line-height: 50px;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
}

#entries > .entry:last-child {
    margin-bottom: 0;
}

#entries > .entry > #header {
    position: relative;
    height: 30px;
    line-height: 30px;
}

.mobile #entries > .entry > #header {
    height: 48px;
    line-height: 48px;
}

#entries > .entry > #header > #title-wrapper,
#entries > .entry > #header > #toggle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

#entries > .entry > #header > #title-wrapper {
    overflow: hidden;
    padding: 0 30px;
}

.mobile #entries > .entry > #header > #title-wrapper {
    padding: 0 40px;
}

#entries > .entry > #header > #title-wrapper > #title {
    white-space: nowrap;
}

#entries > .entry.unread > #header > #title-wrapper > #title {
    font-weight: bold;
}

#entries > .entry > #header > #date-wrapper {
    display: table;
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    white-space: nowrap;
}

.mobile #entries > .entry > #header > #date-wrapper {
    right: 40px;
}

#entries > .entry > #header > #date-wrapper > #fadeout {
    display: table-cell;
    width: 30px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

#entries > .entry > #header > #date-wrapper > #date {
    display: table-cell;
    padding: 0 4px;
    background-color: white;
}

#entries > .entry > #header > #favicon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30px;
    background: transparent center no-repeat;
    background-size: 16px;
}

.mobile #entries > .entry > #header > #favicon {
    width: 40px;
}

#entries > .entry > #header > #star {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    background: white url("../images/star-off.png") center no-repeat;
    background-size: 16px;
    cursor: pointer;
}

.mobile #entries > .entry > #header > #star {
    width: 40px;
}

#entries > .entry.open {
    border: 1px solid #e5e5e5;
}

#entries > .entry.open.active {
    border-color: #33b5e5;
}


#entries > .entry.active > #header,
#entries > .entry.active > #header > #star,
#entries > .entry.active > #header > #date-wrapper > #date {
    background-color: #33b5e5;
}

#entries > .entry.active > #header > #date-wrapper > #fadeout {
    background-image: linear-gradient(to right, rgba(51, 181, 229, 0), #33b5e5);
}

.desktop #entries > #loader:hover,
.desktop #entries > .entry:hover > #header,
.desktop #entries > .entry:hover > #header > #date-wrapper > #date,
.desktop #entries > .entry:hover > #header > #star {
    background-color: #f5f5f5;
}

.desktop #entries > .entry:hover > #header > #date-wrapper > #fadeout {
    background-image: linear-gradient(to right, rgba(245, 245, 245, 0), #f5f5f5);
}

#entries > .entry.starred > #header > #star {
    background-image: url("../images/star-on.png");
}

#entries > .entry > #body {
    position: relative;
    display: none;
    padding: 20px;
}

#entries > .entry.open > #header {
    display: none;
}

#entries > .entry.open > #body {
    display: block;
}

#entries > .entry > #body > #content {
    overflow: auto;
}

#entries > .entry > #body > #content > #content-header {
    margin-bottom: 0.67em;
}

#entries > .entry > #body > #content > #content-header > #tags {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#entries > .entry > #body > #content > #content-header > #tags > div {
    background-color: #33b5e5;
    color: white;
    line-height: 24px;
    padding: 0 20px;
    margin-right: 1px;
    float: left;
}

#entries > .entry > #body > #content > #content-header > #tags > div:last-child {
    margin-right: 0;
}

#entries > .entry > #body > #content > #content-header > #tags > #arrow {
    width: 0;
    height: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-width: 0 16px 24px 0;
    border-style: solid;
    border-color: transparent #33b5e5 transparent transparent;
}

#entries > .entry > #body > #content > #content-header > #tags > #toggle-read:after {
    content: "unread";
}

#entries > .entry.unread > #body > #content > #content-header > #tags > #toggle-read:after {
    content: "read";
}

#entries > .entry > #body > #content > #content-header h1 {
    margin: 0.67em 0 0 0;
}

#entries > .entry > #body > #content > #content-header div {
    line-height: 16px;
}

#entries > .entry > #body > #content > #content-header div * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#entries > .entry > #body > #content > #content-header #star {
    width: 16px;
    height: 16px;
    background: white url("../images/star-off.png") center no-repeat;
    background-size: 16px;
    vertical-align: bottom;
    cursor: pointer;
}

#entries > .entry.starred > #body > #content > #content-header #star {
    background-image: url("../images/star-on.png");
}

#entries > .entry > #body img {
    max-width: 100%;
    height: auto;
}

#entries > .entry > #body a {
    color: #0099cc;
    text-decoration: inherit;
}
