<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aggregator</title>
    <link rel="icon" href="images/favicon-32.png" sizes="32x32">
    <link rel="apple-touch-icon-precomposed" href="images/favicon-152.png">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/aggregator.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>

    <script type="text/template" id="feed-template">
        <a href="<%= feed.get('route') %>">
            <div id="title-wrapper">
                <div id="title"><%= feed.get('title') %></div>
            </div>
            <% if (feed.get(feed.countAttr)) { %>
                <div id="count-wrapper">
                    <div id="fadeout"></div><div id="count"><%= feed.get(feed.countAttr) %></div>
                </div>
            <% } %>
        </a>
    </script>

    <script type="text/template" id="entry-template">
        <div id="header">
            <div id="title-wrapper">
                <span id="title"><%= entry.get('title') %></span>
            </div>
            <div id="date-wrapper">
                <span id="fadeout"></span><span id="date"><%= entry.get('updated_text') %></span>
            </div>
            <div id="toggle"></div>
            <a id="favicon" target="_blank" href="<%= entry.get('link') %>" style="background-image: url('<%= feed.get("favicon") %>')"></a>
            <span id="star"></span>
        </div>
        <% if (entry.get('_loaded')) { %>
            <div id="body">
                <div id="content">
                    <div id="content-header">
                        <h1><a id="title" href="<%= entry.get('link') %>"><%= entry.get('title') %></a></h1>
                        <div>
                            <% if (entry.get('author')) { %><span id="author-container">by <span id="author"><%= entry.get('author').name %></span>,</span><% } %>
                            <a id="feed" href="<%= feed.get('link') %>"><%= feed.get('title') %></a>
                            <span id="date-container">on <span id="date" title="<%= entry.get('published') %>"><%= moment(entry.get('updated')).format('lll') %></span></span>
                            <span id="star" onclick="javascript: return false"></span>
                        </div>
                        <div id="tags">
                            <div id="toggle-read"><%= entry.isUnread() ? 'unread' : 'read' %></div>
                            <div id="toggle">close</div>
                        </div>
                    </div>
                    <% if (entry.get('content').length || entry.get('summary')) {
                        var content = entry.get('content').length ? entry.get('content') : [entry.get('summary')];
                        for (var index in content) { %>
                            <%= content[index].value %>
                        <% }
                    } %>
                </div>
                <div id="footer">
                </div>
            </div>
        <% } %>
    </script>

    <script src="js/aggregator.js"></script>
</head>
<body>

    <div id="feeds-container">
        <div id="feeds"></div>
    </div>

    <div id="entries">
        Loading...
    </div>

</body>
</html>
